{% extends "base_homepage.html" %}


 {% block mainTwoServices %}
     {% for serv in servTwo %}
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
             <div class="box london">
                 <div class="box-icon">
                     <img src="{{ serv.ppics.url }}" alt="Image" class="img-responsive">
                 </div>
                 <div class="info float-container">
                     <div class="col-sm-12 london-title">
                         <h3 class="text-uppercase">{{ serv.pname }}</h3>
                         <h4 class="text-uppercase">{{ serv.pintro }}</h4>
                     </div>
                     <p>{{ serv.pshortdesc }}</p><hr />
                     <div class="col-sm-12 location-main">
                         <div class="pull-left location">
                             <i class="fa fa-caret-right"></i><span><a href="{% url 'service' serv.id %}">Details</a> </span>
                         </div>
                         <div class="pull-right user-icons">
                             <a href="#"><i class="fa fa-star fa-2x"></i></a>
                             <a href="#"><i class="fa fa-user fa-2x"></i></a>
                             <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     {% endfor %}
 {% endblock mainTwoServices %}


{% block serviceImages %}
    {% for serv in servThree %}
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div style="min-height: 250px; border: 1px solid black;" class="bottom-img">
                <img src="{{ serv.ppics.url }}" alt="{{ serv.pintro }}">
                <p class="first text-center"><a style="color: white;" href="{% url 'service' serv.id %}">{{ serv.pname }}</a> </p>
            </div>
        </div>
    {% endfor %}
{% endblock serviceImages %}