{% extends "base_accounts.html" %}
{% block title %}<title>Change password</title> {% endblock title %}
{% load i18n %}


<!--<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>-->

{% block content %}

<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title text-center">Change your password:</div>
        </div>
        <div class="panel-body" >
            <form id="signupform" class="form-row" role="form" action="" method="post">
                {% csrf_token %}

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{ form.old_password }}
                    <script>
                        var elem = document.getElementById("{{ form.old_password.id_for_label }}");
                        elem.classList.add("form-control");
                        elem.setAttribute('placeholder','current password');
                    </script>
                    {% if form.old_password.errors %}
                        <small class="error">{{ form.old_password.errors }}</small>
                    {% endif %}
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{ form.new_password1 }}
                    <script>
                        var elem = document.getElementById("{{ form.new_password1.id_for_label }}");
                        elem.classList.add("form-control");
                        elem.setAttribute('placeholder','New password');
                    </script>
                    {% if form.new_password1.errors %}
                        <small class="error">{{ form.new_password1.errors }}</small>
                    {% endif %}
                </div>
                <li>Your password can&#39;t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can&#39;t be a commonly used password.</li>
                <li>Your password can&#39;t be entirely numeric.</li>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{ form.new_password2 }}
                    <script>
                        var elem = document.getElementById("{{ form.new_password2.id_for_label }}");
                        elem.classList.add("form-control");
                        elem.setAttribute('placeholder','New password');
                    </script>
                    {% if form.new_password2.errors %}
                        <small class="error">{{ form.new_password2.errors }}</small>
                    {% endif %}
                </div>


                <input type="hidden" name="next" id="id_next" value="{{ request.REQUEST.next }}" />

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <input id="btn-signup" class="btn btn-info" type="submit" value="{% trans 'Submit' %}" />
                        <input id="btn-back" class="btn btn-danger" type="button" value="Go back" onclick="javascript:history.go(-1)" />
                        <!--<button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>-->
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock %}