.pn {width: 300px;height: 300px;}

/*.pn img.resize {height: 20%;width: 20%;}*/

.london-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #19beb6;
	margin: 25px 0px;
}
.london-title h3 {
	color: #19beb6;
	font-size: 18px;
	margin: 5px;
}
.london-title h4 {
	font-size: 14px;
	margin: 5px;
}

.first { background-color: rgba(36,148,176,0.8); }