{% extends "base_homepage.html" %}

{% block contentMain %}
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="banner-main-home">
                <div class="banner-main-home-text">
                    <div class="heading">
                        <h1>Deaspo Studios</h1>
                        <p style="color: white;font-style: italic;" class="text-uppercase">The Future is now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contentMain %}

 {% block mainTwoServices %}
     {% for serv in services %}
         <div style="margin-bottom: 10px;" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
             <div class="box london">
                 <div class="box-icon">
                     <img src="{{ serv.ppics.url }}" alt="Image" class="img-responsive">
                 </div>
                 <div class="info float-container">
                     <div class="col-sm-12 london-title">
                         <h3 class="text-uppercase">{{ serv.pname }}</h3>
                         <h4 class="text-uppercase">{{ serv.pintro }}</h4>
                     </div>
                     <p>{{ serv.pshortdesc }}</p><hr />
                     <div class="col-sm-12 location-main">
                         <div class="pull-left location">
                             <i class="fa fa-caret-right"></i><span><a href="{% url 'service' serv.id %}">Details</a> </span>
                         </div>
                         <div class="pull-right user-icons">
                             <a href="#"><i class="fa fa-star fa-2x"></i></a>
                             <a href="#"><i class="fa fa-user fa-2x"></i></a>
                             <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     {% endfor %}
 {% endblock mainTwoServices %}

{% block footText %}

{% endblock footText %}

{% block serviceImages %}

{% endblock serviceImages %}
