#price {
	background: #fff;
	#padding-top: 100px;
	padding-bottom: 20px;
}
#price .plan {
	background: #eb5424;
	color: #ffffff;
	padding: 0 0 10px 0;
}
#price .plan .plan_title {
	background-color: #f6f6f6;
	color: #202020;
	padding-top: 5px;
	padding-bottom: 5px;
}
#price .plan .plan_sub_title {
	border-bottom: 1px solid #ffffff;
	padding: 5px;
}
#price .plan ul {
	padding: 0;
}
#price .plan ul li {
	display: block;
	font-family: "Proxima";
	font-size: 16px;
	padding: 5px 0 10px 0;
}
#price .plan .btn {
	background: #ffffff;
	border: none;
	border-radius: 0;
	color: #202020;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px;
	transition: all 0.4s ease-in-out;
	margin-top: 20px;
}
#price .plan .btn:hover {
	background: #202020;
	color: #ffffff;
}
/* review sections */
.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
	margin-top: 15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}
/* end of review */
/* review commenting */
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
/* end commenting review */